/* body styling  */

body {
    background-color: hsl(212, 45%, 89%);
    font-size: 0.938rem;
}

/* Styles for text under qr code  */

.attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}