/* body styling  */

body {
    background-color: hsl(212, 45%, 89%);
    font-size: 0.938rem;
    display: flex;
    justify-content: center;
}

/* main div styling  */
.main-div {
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    border-radius: 3%;
    padding-bottom: 1%;
    margin-top: 12.5rem;
    width: 18.75rem;
    height: 25rem;
}

/* image container styling  */
.img-container {
    padding: 4% 0 4% 0;
}

.img-container img {
    border-radius: 3%;
    width: 15.625rem;
}

/* QR code text styles  */

.first-text-container {
    font-family: 'outfit', 'helvetica';
    font-weight: 700;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.second-text-container {
    font-family: 'outfit', 'helvetica';
    font-weight: 100;
    padding-top: 4%;
    padding-left: 8%;
    padding-right: 8%;
}

/* Footer styling  */

footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 30px;   /* Height of the footer */
}

.attribution {
    font-size: 11px; 
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}